@page "{Id}"
@model CustomBMS.Pages.AccountModel
@{
    Layout = "_LayoutAccount";
    ViewData["AccountName"] = $"{Model.user.FristName} {Model.user.LastName}";
    ViewData["UserId"] = $"{Model.user.ID}";
}



<table class="table">
    <thead>
        <tr>
            <th>تاریخ</th>
            <th> بستانکار </th>
            <th> بدهکار </th>
            <th> توضیحات </th>
            <th> مانده </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var action in Model.transactions)
        {
            <tr>
                <td>@action.Date</td>
                <td>@action.credit</td>
                <td>@action.debit</td>
                <td>@action.Discription</td>
                <td>@action.balance</td>

            </tr>
        }
    </tbody>
</table>